* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes rotate {
    from { transform: rotate(-180deg);}
    to { transform: rotate(0deg);}
    
}


body{
    background-color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 200px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px 10px;
}

.card .front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .3;
    transition: .7s;
    /* box-shadow: 0 5px 15px 2px white;
    z-index: 222; */
}

.card:hover .front{
    opacity: 1;
}

.card .front img{
    width: 100%;
}

.card .content{
    padding: 8px 20px;
    color: white;
    overflow: hidden;
    height: 47px;
    transition: .7s;
    opacity: .3;
}

.card:hover .content {
    height: 260px;
    opacity: 1;
    background-image: linear-gradient(#672abf, #380e74);
    box-shadow: 0 5px 15px 2px white;
}

.card:hover .content .arrow {
    animation-name: rotate;
    animation-duration: 1s;
    transform: rotate(0deg);
}

.card h3{
    display: inline-block;
    padding-bottom: 15px;
    text-indent: 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.card .desc{
    font-size: 14px;
    font-weight: 100;
    text-align: justify;
    font-style: italic;
    opacity: .7;
}

.arrow {
    display: inline-block;
    position: relative;
    left: 40%;
    color: white;
    /* padding-bottom: 10px;  */
    font-size: 22px;
    transform: rotate(-180deg);
    transition: all 1.5s;
}
